/* styles.css */
body {   
    background-image: url('images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body::before {
    content: "";  /* Mandatory for the pseudo-element to work */
    position: absolute; /* Takes the pseudo-element out of the document flow */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  /* These four lines ensure the pseudo-element covers the entire body */
    background-color: rgba(255, 255, 255, 0.2); /* Here, white color with 50% opacity is used. Adjust as needed */
    z-index: -1; /* Sends the overlay behind the content of the body */
}

h2 {
    color: #ADCECC;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.4;
}

h3 {
    color: #ADCECC;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

h4 {
    color: #ADCECC;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#role_choose {
    position: relative;
    top:60px;
}

.button {
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #5A605E;
    font-weight: 400;
    border-radius: 5px;
    opacity: 0.9;
    background: #ADCECC;
    padding: 5px 80px;
}

.button_container {  
    height:300px;  
    display: flex;
    justify-content: space-evenly; /* Spaced equally */
    align-items: center;
    flex-wrap: wrap; /* Allows the buttons to wrap to next line on smaller screens */
    gap: 15px; /* Space between buttons */
}